@font-face {
    font-family: 'IRANSans';
    src: url('/fonts/IRANSansXFaNum-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  body {
    font-family: 'IRANSans', sans-serif;
    direction: rtl;
  }
